/* Global Styles */

* {
font-family: 'Montserrat', sans-serif;
box-sizing: border-box;
margin: 0;
padding: 0;

}

body {
background-color: #767577;
min-height: 100vh;
display: flex;
flex-direction: column;

}

/* Navbar Styles */

.navbar {
background-color: rgba(0, 0, 0, 0.3);
padding: 1rem;
}

.navbar-brand {
font-family: 'allura', cursive;
font-size: 2rem;
color: rgb(255, 255, 255) !important;
}

.navbar-nav .nav-link {
font-size: 1.2rem;
cursor: pointer;
font-weight: 200 !important;
font-family: 'Montserrat', sans-serif !important;
color:whitesmoke !important;

}

.dropdown-item {
font-size: 1rem;
text-align: center;
padding: 0.5rem 1rem;
}

.dropdown-menu {
padding: 0;
min-width: 10rem;
}

.navbar-nav .nav-link {
transition: transform 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
transform: scale(1.1);
}

/* Home Section Styles */

#home {
position: relative;
text-align: center;
padding: 2rem;
}

#home img {
max-width: 100%;
height: auto;
}

.social-media-icons {
display: flex;
flex-direction: row;
gap: 1rem;
justify-content: center;
margin-top: 1rem;
}

.social-media-icons a {
color: #E4D6F5;
transition: color 0.3s ease;
text-decoration: none;


}

.social-media-icons a:hover {
color: #ffffff;
transform: scale(1.3);
}

.social-media-icons i {
font-size: .8rem;
}

/* Music Section Styles */

.play-button {
background: transparent;
border: none;
padding: 0;
cursor: pointer;
transition: transform 0.2s;
position: absolute;
top: 2.5rem;
right: 2.5rem;
z-index: 1;
mix-blend-mode: multiply; /* Add this line */
}

.play-button img {
width: 3rem;
height: auto;
mix-blend-mode: multiply;
}

.play-button:hover {
transform: scale(1.1);
mix-blend-mode: multiply;
}

/* Bio Section Styles */
#bio-section {
padding-top: 3rem;
padding-bottom: 3rem;
display: none;
}

#bio-section .bio-container {
position: relative;
display: flex;
align-items: center;
justify-content: center;
padding: 5rem;
background-image: url('https://wallpapers.com/images/featured/gray-background-ssalqrxe625ygq6d.jpg');
background-size: contain;
background-position: center;
background-repeat: no-repeat;
min-height: 100vh;
}

#bio-section .bio-text {
position: absolute;
top: 65%;
left: 50%;
transform: translate(-50%, -50%);
color: #ffffff;
background-color: rgba(0, 0, 0, 0.3);
padding: 1rem;
border-radius: 0.25rem;
width: 50rem;
height: auto;
font-size: 1.1vw !important;
}

#bio-section .bio-image {
  position: absolute;
  top: 3rem;
  left: 33%;
  transform: translateX(-50%);
  width: 50%; /* adjust the width to scale the image */
  height: auto;
  border-radius: 0.25rem;
}
#bio-section .bio-image img {
width: 15vw;
height: 15vw;
object-fit: cover;
border: 0.5rem solid hsl(280, 2%, 33%);
border-radius: .5rem;
}

/* Hobbies Section Styles */

.hobby-image {
width: 100%;
aspect-ratio: 16/9;
object-fit: cover;
}

.card {
background-color: rgba(0, 0, 0, 0.3);
color: #fff;
border-radius: 5px;
border: 3px solid #ddd;
}

/* Photo/Video Section Styles */



.grid-container {
display: grid;
grid-template-columns: repeat(4, auto);
justify-content: center;
gap: 10px;
margin: 0 auto;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding-top: 0;

}

.grid-item {
text-align: center;
font-size: 12px;
color: #ffffff;
}

.grid-item img {
width: 80px;
height: auto;
display: block;
margin: 0 auto;
}
/* Footer Styles */



.footer span {
font-family: 'Montserrat', sans-serif !important;
font-size: 10px;
color: #fff; /* white text color */
}
.footer {
background-color: rgba(0, 0, 0, 0.3) !important;
color: #fff; /* white text color */
}

/******************************HOVER ZOOM ON PHOTOS*****************************************/
.zoom-image {
transition: transform 0.2s;
}

.zoom-image:hover {
transform: scale(1.1);
}

/* Media Queries */

@media (max-width: 3xl) {
.navbar-brand {
font-size: 1.5rem;
}

.navbar-nav .nav-link {
font-size: 1rem;
}

.play-button img {
width: 2rem;
height: auto;
}

.social-media-icons i {
font-size: 1.2rem;
}
}



@media (max-width: 768px) {

/* bio styles*/
#bio-section .bio-container {
position: relative;
display: flex;
align-items: center;
justify-content: center;
padding: 5rem;
overflow: hidden;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 100vw;
height: auto;
margin: 0;
overflow-x: hidden;
}


#bio-section .bio-image {
position: absolute;
top: 4rem;
display: block;
margin: auto;
left: 47% !important;

}


/* Collapse Button*/
.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler:hover {
box-shadow: none !important;
outline: none !important;

}

.navbar-toggler {
border-width: 2px;
border-color: #E4D6F5 !important;

}

.navbar-toggler:hover {
border-width: 3px !important;

}


.navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23E4D6F5' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.dropdown-menu {
background-color: #E4D6F5;
min-width: 150px; /* adjust the width */
}

.dropdown-item {
font-family: 'Montserrat', sans-serif !important;
font-size: 15px !important;
color: darkslategrey;
padding: 5px 10px; /* adjust the padding */
}

/* Collapse Button*/


.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
color: inherit;
background-color: transparent;
border: none;
box-shadow: none;
}

.navbar-nav .nav-link {
font-size: 15px !important;
font-weight: 200 !important;
font-family: 'Montserrat', sans-serif !important;
color:whitesmoke !important;
}


#bio-section .bio-text {
top: 80%;
width: 50rem;
font-size: 2.5vw !important;
}



#bio-section .bio-image img {
width: 50vw !important;
height: 50vw !important;
object-fit: cover;
border: 0.5rem solid hsl(280, 2%, 33%);
border-radius: .5rem;
}

/* Photo/Video Section Styles */

#photos-section h2 {
margin-top: -38vw !important;
}

#videos-section h2 {
margin-top: -38vw !important;
}
#photos-section {
position: relative;
margin: auto;
top: 0;
bottom: 0;
left: 0;
right: 0;
width: fit-content; /* or a specific width */
height: fit-content; /* or a specific height */
text-align: center;
}

#videos-section {
position: relative;
margin: auto;
top: 0;
bottom: 0;
left: 0;
right: 0;
width: fit-content; /* or a specific width */
height: fit-content; /* or a specific height */
text-align: center;
}


.footer {
top: 10vw !important; /* adjust the value to move it up */
}

.footer span {
font-family: 'Montserrat', sans-serif !important;
font-size: 8px;
color: #fff; /* white text color */
}

.social-media-icons i {
font-size: .7rem;
}

.play-text {
font-size: 7px !important;
color:#474343;
margin-top: -.7vh !important;
}


}


@media (max-width: 375px) {
.navbar-brand {
font-size: 1.2rem;
}

/* bio styles*/
#bio-section .bio-container {
position: relative;
display: flex;
align-items: center;
justify-content: center;
padding: 5rem;
overflow: hidden;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 100vw;
height: auto;
margin: 0;
overflow-x: hidden;
}

#photos-section h2 {
position: relative;
top: -5vw !important;
}

#videos-section h2 {
position: relative;
top: -5vw !important;
}


#bio-section .bio-text {
top: 70%;
width: 100% !important;
font-size: 3vw !important;
}

#bio-section .bio-image {
position: absolute;
top: 15% !important;
display: block;
margin: auto;
left: 43% !important ;
right: 0;
}

#bio-section .bio-image img {
width: 50vw !important;
height: 50vw !important;
object-fit: cover;
border: 0.5rem solid hsl(280, 2%, 33%);
border-radius: .5rem;
}
/* play button styles*/
.play-button img {
width: 1.5rem;
height: auto;
mix-blend-mode: multiply; /* Add this line */
}

/* soc med styles*/
.social-media-icons i {
font-size: 1rem;
}


/* footer styles*/
.footer {
position: relative !important;
font-size: 1.8vw;
top: -.4vw !important;
}

.social-media-icons i {
font-size: .7rem;
}

/* Photo/Video Section Styles */
.grid-container {
grid-template-columns: repeat(4, 60px);
gap: 1.5rem;
}
.grid-item img {
width: 60px;
height: 60px;
}

.play-text {
font-size: 6.8px !important;
color:#474343;
margin-top: -.8vh !important;
}
} 

