/* Global Styles */

* {
font-family: 'Montserrat', sans-serif;
box-sizing: border-box;
margin: 0;
padding: 0;

}

body {
background-image: url('img/bg1.jpg');
background-size: cover;
min-height: 100vh;
display: flex;
flex-direction: column;
}


/* Navbar Styles */

.navbar {
background-color: rgba(0, 0, 0, 0.3);
padding: 1rem;
}

.navbar-brand {
font-family: "Grechen Fuemen", cursive;
font-size: 1.8vw !important;
color:#686565;
text-shadow:
4px 4px 8px rgba(0, 0, 0, 0.7),
8px 8px 16px rgba(0, 0, 0, 0.5),
12px 12px 24px rgba(0, 0, 0, 0.3);
}

.navbar-nav .nav-link {
font-size: 1vw;
cursor: pointer;
font-weight: 200 !important;
font-family: 'Montserrat', sans-serif !important;
color:whitesmoke !important;

}

.dropdown-item {
  color: whitesmoke;
  padding: 0.3vh 1vw;
}

.dropdown-menu {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 0;
}

.navbar-nav .nav-link {
transition: transform 0.2s ease-in-out;
}

.navbar-nav .nav-link:hover {
transform: scale(1.1);
}

.dropdown-toggle {
    margin-bottom: -.5vh;
}

.dropdown-item {
  display: block;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  transform-origin: center;
}

.dropdown-item:hover {
  transform: scale(1.2);
  color: #fff;
  background-color: transparent;
}

.dropdown-item:last-child {
  border-bottom: none; /* remove border from last item */
}

/* Home Section Styles */

#home {
position: relative;
text-align: center;
padding: 2rem;
}

#home img {
max-width: 100%;
height: auto;
}

.social-media-icons {
display: flex;
flex-direction: row;
gap: 1rem;
justify-content: center;
margin-top: 1rem;
}

.social-media-icons a {
color: #E4D6F5;
transition: color 0.3s ease;
text-decoration: none;


}

.social-media-icons a:hover {
color: #ffffff;
transform: scale(1.3);
}

.social-media-icons i {
font-size: .7vw;
}

/* Music Section Styles */

.play-button {
background: transparent;
border: none;
padding: 0;
cursor: pointer;
transition: transform 0.2s;
position: absolute;
top: 2rem;
right: 2rem;
z-index: 1;
}

.play-button img {
width: 3rem;
height: auto;
mix-blend-mode: multiply;
}

.play-button:hover {
transform: scale(1.1);

}

/* Bio Section Styles */
#bio-section {
padding-top: 3rem;
padding-bottom: 3rem;
display: none;
}

#bio-section .bio-container {
position: relative;
display: flex;
align-items: center;
justify-content: center;
padding: 5rem;
background-image: url('https://wallpapers.com/images/featured/gray-background-ssalqrxe625ygq6d.jpg');
background-size: contain;
background-position: center;
background-repeat: no-repeat;
min-height: 70vh;
overflow-x: hidden;
overflow-y: hidden;
}

#bio-section .bio-text {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1.04vw;
  border-radius: 0.26vw;
  width: 50vw;
  height: auto;
  font-size: .9vw;
  text-align: center;
}

#bio-section .bio-image {
position: absolute;
top: 6vh;
right: -3vw;
}

#bio-section .bio-image img {
width: 8vw !important;
height: 18vh !important;
object-fit: cover;
border-radius: 3px;
}

/* Portfolio Section Styles */
#portfolio-section {
position: relative;
top: -3vh; /* adjust this value to move it up or down */
left: 50%;
transform: translateX(-50%);
}

/* Hobbies Section Styles */

.hobby-image {
width: 100%;
aspect-ratio: 16/9;
object-fit: cover;
}

.card {
background-color: rgba(0, 0, 0, 0.3);
color: #fff;
border-radius: 5px;
border: 3px solid #ddd;
}

/* Photo/Video Section Styles */



.grid-container {
display: grid;
grid-template-columns: repeat(4, auto);
justify-content: center;
gap: 10px;
margin: 0 auto;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding-top: 0;

}

.grid-item {
text-align: center;
font-size: 12px;
color: #ffffff;
}

.grid-item img {
width: 80px;
height: auto;
display: block;
margin: 0 auto;
}
/* Footer Styles */



.footer span {
font-family: 'Montserrat', sans-serif !important;
font-size: .5vw;
color: #fff; /* white text color */
}
.footer {
background-color: rgba(0, 0, 0, 0.3) ;
color: #fff; /* white text color */
}

/******************************HOVER ZOOM ON PHOTOS*****************************************/
.zoom-image {
transition: transform 0.2s;
}

.zoom-image:hover {
transform: scale(1.1);
}

/* Media Queries */

@media (max-width: 3xl) {
.navbar-brand {
font-size: 1.5rem;
}

.navbar-nav .nav-link {
font-size: 1rem;
}

.play-button img {
width: 2rem;
height: auto;
}

.social-media-icons i {
font-size: 1.2rem;
}
}



@media (min-width: 376px) and (max-width: 768px) {

body {
background-image: url('https://images.unsplash.com/photo-1708894462826-ba3fa93b41b7?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y29uY3JldGUlMjB0ZXh0dXJlfGVufDB8fDB8fHww') !important;
background-size: cover;
min-height: 100vh;
display: flex;
flex-direction: column;
}

.navbar-toggler {
z-index: 1 !important;
}

img[src="icons/ninja.png"] {
width: 250px !important;
height: auto;
position: relative !important;
top: 5px;
left: 15px !important;
}


.navbar-brand {
font-size: 1.4rem !important;
z-index: 1;
}

.navbar-nav {
  padding-left: 2vw !important; 
}

.dropdown-item {
  background-color: rgba(0, 0, 0, 0.5) !important; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important; 
  padding: 0.3vh 1vw !important;
  color: whitesmoke !important;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;  
  color: #fff !important;
}

.dropdown-item:last-child {
  border-bottom: none; 

}

/* bio styles*/
#bio-section .bio-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  background-image: url('https://wallpapers.com/images/featured/gray-background-ssalqrxe625ygq6d.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 75vh;
  min-width: 70vh;
  overflow-x: hidden;
  overflow-y: hidden;
}


#bio-section .bio-image {
position: absolute;
top: 10%;
display: block;
margin: auto;
left: 105% !important;
}

#bio-section .bio-text {
top: 70%;
width: 30rem;
font-size: 2.5vw !important;
text-align: center;
}



#bio-section .bio-image {
position: absolute;
top: 10% !important;
display: block;
margin: auto;
left: 56% !important ;
right: 0;
}

#bio-section .bio-image img {
width: 29vw !important;
height: 32vw !important;
object-fit: cover;
border-radius: 3px;
}


/* Collapse Button*/
.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler:hover {
box-shadow: none !important;
outline: none !important;

}

.navbar-toggler {
border-width: 2px;
border-color: #272627 !important;

}

.navbar-toggler:hover {
border-width: 3px !important;

}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%231a1a1a' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}





/* Collapse Button*/


.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
color: inherit;
background-color: transparent;
border: none;
box-shadow: none;
}

.navbar-nav .nav-link {
font-size: 15px !important;
font-weight: 200 !important;
font-family: 'Montserrat', sans-serif !important;
color:whitesmoke !important;
}





/* Portfolio styles*/

.card-title{
position: relative;
top: 10px !important;
}

.card-text.lead {
font-size: 13.8px !important;
margin-top: 50px !important;
}
.resume-container {
display: none !important;
}


.resume-container {
position: absolute !important;
top: 1.8% !important;
left: -65%;
z-index: 1;
display: block !important;
}
.resume-container img {
content: url('https://cdn0.iconfinder.com/data/icons/business-world-extras/512/Businessmen_Resume-512.png');
width: 59px !important;
height: auto;
}
.resume-container span {
position: relative !important;
font-size: 7px !important;
top: 5px !important;
left: -2vw;
display: block !important;
}


div[style*="linear-gradient(to right"] {
margin-top: 50px !important;
}

/*Font sizes*/
.education-item, .experience-item {
width: 100% !important;
padding: 10px !important;
box-sizing: border-box;
margin-left: auto !important;
margin-right: auto !important;
}

#education h2, #experience h2 {
margin-top: -10px;
font-size: 15px !important;
}

#education h3, #experience h3 {
font-size: 14px;
}

#education p, #experience p {
font-size: 14px;
}

#education p:not(.dates), #education li, #experience p:not(.dates), #experience li {
font-size: 14px;
}

#education li, #experience li {
line-height: 25px; /* adjust the value as needed */
}

.arrow.down {
display: none !important;
text-align: center !important;
margin: 0 auto !important;
position: relative;
top: -1vh !important;

}

#goDown{
display: block !important;
}

.go.down{
display: block !important;
position: absolute;
top: 9.7% !important;
left: 0 !important;
left: auto !important;
z-index: 2 !important;

}


.goku.up {
position: absolute !important;
display: block !important;
top: 5% !important;
left: 50% !important;
transform: translateX(-50%) !important;
z-index: 2 !important;
}



.arrow.up {
position: absolute !important;
display: block !important;
top: 87.3% !important;
z-index: 2 !important;
right: 6% !important;

}

#goTop p {
font-size: 8px !important;
}

#goTop {
display: block; /* or whatever display value you need */


}




/* Photo/Video Section Styles */

#photos-section h2 {
margin-top: -30vw !important;
}

#videos-section h2 {
margin-top: -38vw !important;
}
#photos-section {
position: relative;
margin: auto;
top: 0;
bottom: 0;
left: 0;
right: 0;
width: fit-content; /* or a specific width */
height: fit-content; /* or a specific height */
text-align: center;
}

#videos-section {
position: relative;
margin: auto;
top: 40px !important;
bottom: 0;
left: 0;
right: 0;
width: fit-content; /* or a specific width */
height: fit-content; /* or a specific height */
text-align: center;
}


.footer {
top: 10vw !important; /* adjust the value to move it up */
}

.footer span {
font-family: 'Montserrat', sans-serif !important;
font-size: 8px;
color: #fff; /* white text color */
}

.social-media-icons i {
font-size: .7rem;
}

.play-text {
font-size: 7px !important;
color:#474343;
margin-top: -.7vh !important;
}

#point {
  position: absolute;
  max-width: 20% !important;
  height: auto;
  width: 7vw !important;
  margin-top: 55vw !important;
  margin-left: -30px !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


}


@media (max-width: 375px) {


  body {
background-image: url('https://images.unsplash.com/photo-1708894462826-ba3fa93b41b7?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y29uY3JldGUlMjB0ZXh0dXJlfGVufDB8fDB8fHww') !important;
background-size: cover;
min-height: 100vh;
display: flex;
flex-direction: column;
}

.navbar-toggler {
z-index: 1 !important;
}

.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler:hover {
box-shadow: none !important;
outline: none !important;

}

.navbar-toggler {
border-width: 2px;
border-color: #272627 !important;

}

.navbar-toggler:hover {
border-width: 3px !important;

}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%231a1a1a' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}


.dropdown-item {
font-size: 15px !important;
}

.navbar-nav {
  padding-left: 2vw !important; 
}

.dropdown-item {
  background-color: rgba(0, 0, 0, 0.5); 
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
  padding: 0.3vh 1vw;
  color: whitesmoke;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1); 
  color: #fff;
}

.dropdown-item:last-child {
  border-bottom: none; 
}


.navbar-nav .nav-link {
font-size: 15px !important;
font-weight: 200 !important;
font-family: 'Montserrat', sans-serif !important;
color:whitesmoke !important;
}

img[src="icons/ninja.png"] {
width: 180px !important;
height: auto;
position: relative !important;
top: 5px;
left: 20px !important;
}

.navbar-brand {
font-size: 1.4rem !important;
}

#home .container {
height: 351px;
}

#point {
  position: absolute;
  max-width: 20% !important;
  height: auto;
  width: 8vw !important;
  margin-top: 60vw !important;
  margin-left: -15px !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.social-media-icons{
position: relative;
top: -47px;
left: 13px;
}

/* bio styles*/
#bio-section .bio-container {
position: relative;
display: flex;
align-items: center;
justify-content: center;
padding: 1rem;
overflow: hidden;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 100vw;
height: auto;
margin: 0;
overflow-x: hidden;
}

#photos-section h2 {
position: relative;
top: -5vw !important;
}

#videos-section h2 {
position: relative;
top: -5vw !important;
}


#bio-section .bio-text {
top: 70%;
width: 99% !important;
font-size: 3.5vw !important;
text-align: center;
}

#bio-section .bio-image {
position: absolute;
top: 7.5% !important;
display: block;
margin: auto;
left: 56% !important ;
right: 0;
}

#bio-section .bio-image img {
width: 30vw !important;
height: 33vw !important;
object-fit: cover;
border-radius: 3px;
}

/* Portfolio styles*/

.col-lg-8 {
flex: 0 0 104% !important;
max-width: 150% !important;
}

.card-text.lead {
font-size: 13.8px !important;
margin-top: 30px !important;
}


#portfolio-section {
overflow-x: hidden;
}

#portfolio-section {
position: relative;
top: -1vh !important;
left: 50%;
transform: translateX(-50%);
}

div[style*="linear-gradient(to right"] {
margin-top: 90px !important;
}

.arrow.down {
display: block !important;
text-align: center !important;
margin: 0 auto !important;
position: relative;
top: -1vh !important;

}

#goDown{
display: block !important;
}

.go.down{
display: block !important;
position: absolute;
top: 13.2% !important;
left: 0 !important;
z-index: 2 !important;

}


.goku.up {
position: absolute !important;
display: block !important;
top: 5% !important;
left: 50% !important;
transform: translateX(-50%) !important;
z-index: 2 !important;
}

.arrow.up {
position: absolute !important;
display: block !important;
top: 88.5% !important;
z-index: 2 !important;
right: 16px !important;
}



#goTop {
display: block; /* or whatever display value you need */
opacity: 0;

}





.resume-container {
position: absolute !important;
top: 1.3% !important;
left: -65%;
z-index: 1;
display: block !important;
}
.resume-container img {
content: url('https://cdn0.iconfinder.com/data/icons/business-world-extras/512/Businessmen_Resume-512.png');
width: 59px !important;
height: auto;
}
.resume-container span {
position: relative !important;
font-size: 6px !important;
top: 5px !important;
left: -2.4vw;
display: block !important;
}

/*Font sizes*/
.education-item, .experience-item {
width: 110% !important;
padding: 10px !important;
box-sizing: border-box;
margin-left: -5% !important;
margin-right: -5% !important;
}

#education h2, #experience h2 {
margin-top: -10px;
font-size: 15px !important;
}

#education h3, #experience h3 {
font-size: 14px;
}

#education p, #experience p {
font-size: 13px;
}

#education p:not(.dates), #education li, #experience p:not(.dates), #experience li {
font-size: 11px;
}

#education li, #experience li {
line-height: 25px; /* adjust the value as needed */
}


/* play button styles*/
.play-button img {
width: 1.5rem;
height: auto;

}

/* soc med styles*/
.social-media-icons i {
font-size: 1rem;
}


/* footer styles*/
.footer {
position: relative !important;
font-size: 1.8vw;
top: -.4vw !important;
}

.social-media-icons i {
font-size: .7rem;
}

/* Photo/Video Section Styles */
.grid-container {
grid-template-columns: repeat(4, 60px);
gap: 1.5rem;
}
.grid-item img {
width: 60px;
height: 60px;
}

.play-text {
font-size: 6.8px !important;
color:#474343;
margin-top: -.8vh !important;
}


#photos-section h2 {
margin-top: -30vw !important;
}

#videos-section h2 {
margin-top: -38vw !important;
}
#photos-section {
position: relative;
margin: auto;
top: 0;
bottom: 0;
left: 0;
right: 0;
width: fit-content; /* or a specific width */
height: fit-content; /* or a specific height */
text-align: center;
}

#videos-section {
position: relative;
margin: auto;
top: 20px !important;
left: 0;
right: 0;
width: fit-content; /* or a specific width */
height: fit-content; /* or a specific height */
text-align: center;
}

.footer span {
font-family: 'Montserrat', sans-serif !important;
font-size: 8px;
color: #fff; /* white text color */
}

}


/* FOR TABLET LANDSCAPE ORIENTATION targeted my tablet tab M8 HD */
@media only screen and (min-width: 720px) and (max-width: 1024px) and (orientation: landscape) {

/* MENU AND HOME SECTION*/
.navbar-nav {
margin-top: 10px !important;
}

#ninja-icon{

position: relative;
bottom: 8vh;

}

.thought-container p {
display: none;
}

.thought-container {
left: 52.5% !important;
top: 1% !important;

}

.thought-container img {
content: url('icons/thoughtsmessage.png');
max-width: 300px !important;
width: 125px !important;
height: auto;
}


/* BIO SECTION*/

#bio-section .bio-image {
top: 5.6vh;
left: 91vw; 
}



#bio-section {
margin-top: -30px !important;
}

#bio-section .bio-text {
top: 58% !important;
width: 80vw;
}
#bio-section .bio-text p {
font-size: 10px !important;
}

/*SOC MED SECTION*/

.social-media-icons {
margin-top: -30px !important;
}

/* FOOTER SECTION*/
.footer span {
font-size: .8vw;
}

/* PORTFOLIO SECTION*/


#portfolio-section {
position: relative;
transform: scale(0.7) translate(-50%, -630px) !important;
left: 35%;
}

.resume-container {
right: -11% !important;
}

.resume-container img {
width: 100px !important;
height: auto;
}


#goTop {
display: block !important;
}


/* HOBBIES SECTION*/
.section-title {
font-size: 20px ;
}

#hobbies-section p {
font-size: 10px ;
}

#hobbies-section .col-lg-4:last-child .card {
left: 21.7vw;
}

/* PHOTOS/VIDEO SECTION*/

#photos-section .grid-item p, #videos-section .grid-item p {
font-size: 8px;
}

#photos-section h2, #videos-section h2 {
font-size: 15px;
}

#photos-section .zoom-image {
width: 50px;
height: auto;
}

#videos-section .grid-item {
position: relative;
top: 10vh ;

}

#videos-section .zoom-image {
width: 50px;
height: auto;
}



}